.homepage-welcome {
  min-height: calc(100vh - 74px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  color: #5925d7;
  animation: rainbow 5s linear infinite;
}

@keyframes rainbow {
  0% {
    color: rgb(212, 10, 212);
  }
  25% {
    color: rgb(55, 0, 255);
  }
  50% {
    color: yellow;
  }
  75% {
    color: green;
  }
  100% {
    color: rgb(195, 0, 255);
  }
}
