.header-nav-btn {
  padding: 5px 10px;
  text-decoration: none;
  background-color: #fff;
  border-radius: 5px;
  color: #000000;
  outline: none;
  border: none;
}

.header-nav-btn:hover {
  background-color: #3fa0ff;
}

.header-nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.container {
  max-width: 1000px;
}

.name {
  color: #fff;
}
